.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.btn--leading {
  padding: 20px 55px;
  background-color: inherit;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;

  place-self: center;
  border: 4px solid $color-default-white;

  @include vp-1199 {
    margin: -3px -4px 0 0;
    padding: 22px 31px 18px 32px;
  }

  @include vp-767 {
    margin: 0;
    padding: 22px 31px 18px 32px;
    display: flex;
    justify-content: center;
  }
}

.btn--video-preview {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  padding: 0;
  border: none;
  background: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
  cursor: pointer;

  @include vp-1199 {
    width: 52px;
    height: 52px;
    transform: translateX(-1px);
  }

  @include vp-767 {
    transform: translate(1px, -1px);
  }

  & svg {
    transform: translate(2px, 1px);

    @include vp-1199 {
      width: 10px;
      height: 11px;
      transform: translate(1px, 0);
    }

    @include vp-767 {
      transform: translate(1px, 1px);
    }
  }

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -14px;
    right: 0;
    margin: auto;
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(to right, rgba(237, 2, 51, 1), rgba(0, 62, 183, 1));
    // mask-image: url("../img/svg/ellipse-button-preview.svg");
    mask-image: url("../img/sprite.svg#ellipse-button-preview");

    @include vp-1199 {
      width: 73px;
      height: 73px;
      left: -10px;
    }

    @include vp-767 {
      transform: translate(-1px, 1px);
    }
  }
}
