.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.btn--leading {
  padding: 20px 55px;
  background-color: inherit;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;

  place-self: center;
  border: 4px solid $color-default-white;

  @include vp-1199 {
    margin: -3px -4px 0 0;
    padding: 22px 31px 18px 32px;
  }

  @include vp-767 {
    margin: 0;
    padding: 22px 31px 18px 32px;
    display: flex;
    justify-content: center;
  }
}
