.leading {
  @include adaptive-bg(#980b37, leading-desctop);
}

.leading__wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 51px 0;
  display: flex;

  @media (max-width: $vp-1199) {
    padding: 82px 0;
  }
}

.leading__text-wrap {
  margin-right: 63px;
  display: grid;
  grid-template-columns: 132px 265px;
  grid-template-rows: 30.4% auto 26.4%;
  align-items: center;

  @media (max-width: $vp-1199) {
    margin-right: 32px;
    grid-template-columns: 113px 209px;
    grid-template-rows: 23.5% auto 26.4%;
    align-items: flex-start;
  }
}

h1.leading__heading {
  margin: 0;
  padding-top: 10px;
  font-family: $ff-alumni;
  font-weight: 600;
  color: $color-default-white;
  font-size: 92px;
  line-height: 1.2;
  text-align: right;
  letter-spacing: 0.05em;
  -webkit-text-stroke: 4px;
  text-transform: uppercase;

  grid-column: 2 / 3;
  grid-row: 2 / 3;

  @media (max-width: $vp-1199) {
    margin-right: -2px;
    padding-top: 6px;
    font-size: 72px;
    text-transform: none;
  }
}

.leading__city {
  margin: 0;
  padding-right: 52px;
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.21;
  text-align: right;
  letter-spacing: 0.03em;
  color: $color-default-white;


  grid-column: 2 /3;
  grid-row: 1 / 2;
  align-self: end;

  @media (max-width: $vp-1199) {
    margin: 0 2px 0 0;
    padding: 0;
    font-size: 34px;
    line-height: 1.2;
  }
}

.leading__list {
  margin: 0;
  padding: 94px 0 0;
  list-style-type: none;
  grid-column: 1 /2;
  grid-row: 2 / 3;

  @media (max-width: $vp-1199) {
    padding: 56px 0 0;
    align-self: center;
  }
}

.leading__item {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  text-align: right;
  color: $color-default-white;
}

.leading__btn {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: end;
}
