.leading {
  @include adaptive-bg(#980b37, "../img/leading-desctop");
}

.leading__wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

h1.leading__heading {
  margin: 0;
  font-family: $ff-alumni;
  font-weight: 600;
  color: $color-default-white;
  font-size: 92px;
  line-height: 1.2;
  text-align: right;
  letter-spacing: 0.05em;
}

h2.leading__heading {
  margin: 0;
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.21;
  text-align: right;
  letter-spacing: 0.03em;
  color: $color-default-white;
}

.leading__description {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  text-align: right;
  color: $color-default-white;
}
