.product-card {
  padding: 63px 40px 67px;
  background-color: $color-default-white;
  text-align: center;

  &:hover,
  &:focus-within {
    padding: 56px 33px 60px;
    border: 7px solid red;
    border-image: linear-gradient(to right bottom, rgba(209, 10, 66, 1), rgba(0, 53, 159, 1)) 1;
    // border-image-slice: 1;
  }
}

.product-card__heading {
  margin: 0 0 11px;
  color: $dark-text;
  font-size: 26px;
  line-height: 1.1;
}

.product-card__description {
  margin: 0 0 65px;
  font-family: $ff-roboto;
  font-weight: 400;
  color: #495a7d;
  font-size: 16px;
  line-height: 1.5;
}

.product-card__price {
  margin-bottom: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card__price span {
  margin-right: 15px;
  font-weight: 700;
  color: #103aae;
  font-size: 60px;
  line-height: 1.5;
  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    left: -18px;
    bottom: -6px;
    content: attr(title);
    font-size: 100px;
    color: #e8e8e8;
    opacity: 0.48;
    z-index: -1;
  }
}

.product-card__price svg {
  z-index: 1;
}
