.tickets {
  background: $color-periwinkle-crayola;
  position: relative;
}

.tickets__wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 121px 0 119px;
  text-align: center;

  @include vp-1199 {
    padding: 49px 0 100px;
  }

  @include vp-767 {
    padding: 64px 0 69px;
  }
}

.tickets__heading {
  margin: 0 auto 6px;
  padding-right: 5px;
  font-family: $ff-alumni;
  font-weight: 600;
  color: $dark-text;
  font-size: 54px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin-bottom: 10px;
    padding-right: 14px;
    font-size: 42px;
    line-height: 1.19;
  }

  @include vp-767 {
    padding-right: 10px;
    font-size: 32px;
  }
}

.tickets__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: 442px;
    justify-content: center;
  }

  @include vp-767 {
    grid-template-columns: minmax(290px, 1fr);
    gap: 34px;
  }
}

.tickets__image {
  position: absolute;
  right: 0;
  bottom: -151px;

  @include vp-1199 {
    bottom: -125px;
  }

  @include vp-767 {
    display: none;
  }
}

.tickets__image img {
  @include vp-1199 {
    width: 347px;
    height: 444px;
  }
}
