.tickets {
  background: $color-periwinkle-crayola;
  position: relative;
}

.tickets__wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 121px 0 119px;
  text-align: center;
}

.tickets__heading {
  margin: 0 auto 6px;
  padding-right: 5px;
  font-family: $ff-alumni;
  font-weight: 600;
  color: $dark-text;
  font-size: 54px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.tickets__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.tickets__image {
  position: absolute;
  right: 0;
  bottom: -150px;
}
